<!DOCTYPE html>

<%
    # 15822108
    # 情報テクノロジー
    # 堀田大智
%>
<%
    # データベース接続の設定
    require 'active_record'

    ActiveRecord::Base.establish_connection(
        :adapter => "sqlite3",
        :database => "sumo.sqlite3"
    )

    # データベース接続の設定
    class Wrestler < ActiveRecord::Base
    end

    # 操作
    overall_number = Wrestler.count
    height_ave = Wrestler.average(:height)
    height_max = Wrestler.maximum(:height)
    height_min = Wrestler.minimum(:height)
    height_sum = Wrestler.sum(:height)
    weight_ave = Wrestler.average(:weight)
    weight_max = Wrestler.maximum(:weight)
    weight_min = Wrestler.minimum(:weight)
    weight_sum = Wrestler.sum(:weight)
%>

<html lang='en-US'> 
<head> 
    <meta charset='utf-8'> 
    <title>Wrestler Statistics!</title> 
    <style> 
        
    </style> 
</head> 
<body>
    <h1>Wrestler Statistics!</h1>

    <p>Overall number of wrestlers: <%= overall_number %></p>
    <h3>Height</h3>
    <p>Average: <%= height_ave %></p>
    <p>maximum: <%= height_max %></p>
    <p>minimum: <%= height_min %></p>
    <p>sum: <%= height_sum %></p>
    <h3>Weight</h3>
    <p>Average: <%= weight_ave %></p>
    <p>maximum: <%= weight_max %></p>
    <p>minimum: <%= weight_min %></p>
    <p>sum: <%= weight_sum %></p>
</body>
</html>